body {
 color:oldlace;
 background: burlywood;
 margin: 50px;
 border-bottom: solid 2px rgb(97, 67, 13);


}
header {
    border-bottom: solid 2px rgb(97, 67, 13);
    border-top: solid 2px rgb(97, 67, 13);
    padding: 20px;
    font-size: 55px;
    color: rgb(97, 67, 13);
    text-align: center;
}
  
img{
  height: 180px;
}
.recomendações {
  display: flex;
  overflow-x: auto;
  gap: 5px;
}

p1{
    font-size: 20px;
    padding: 15px;
    
  }

p2{
    font-size: 20px;
    padding: 15px;
   
  }

p3{
    font-size: 20px;
    padding: 15px;
   
  }

p4{
    font-size: 20px;
    padding: 15px;
   
  }

h5{
  font-size: 30px;
}